<!-- hbox layout -->
<div class="hbox hbox-auto-xs hbox-auto-sm bg-light">
  <!-- column -->
  <div class="col w b-r">
    <div class="vbox">
      <div class="row-row">
        <div class="cell scrollable hover">
          <div class="cell-inner">
            <div class="list-group no-radius no-border no-bg m-b-none">
              <a class="list-group-item b-b" ng-class="{'focus': (filter == '')}" ng-click="selectCategory({id:''})"><strong>Все</strong><span class="badge bg-primary">{{channels.length}}</span></a>
              <a ng-repeat="category in categories" ng-dblclick="editCategory(category)" class="list-group-item m-l hover-anchor b-a no-select" ng-class="{'focus m-l-none': category.selected}" ng-click="selectCategory(category)">
                <span ng-click='deleteCategory(category)' class="pull-right text-muted hover-action"><i class="fa fa-times"></i></span>
                <span ng-click='editCategory(category)' class="pull-right text-muted hover-action m-r-xs"><i class="fa fa-pencil"></i></span>
                <span class="block m-l-n" ng-class="{'m-n': category.selected }">{{ category.name ? category.name : '---' }}</span>
                <input type="text" class="form-control pos-abt editable-group" ng-show="category.editing" ng-blur="saveCategory(category)" ng-model="category.name" focus="category.editing">
              </a>
              <a class="list-group-item b-b" ng-class="{'focus': (filter == ' ')}" ng-click="selectCategory({id:' '})"><span style="color: #808080;">Без категории</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper b-t">
        <!--<span tooltip="Кликните дважды для редактирования" class="pull-right text-muted inline wrapper-xs m-r-sm"><i class="fa fa-question"></i></span>-->
        <a href class="btn btn-sm btn-primary btn-addon" ng-click="createCategory()"><i class="fa fa-plus fa-fw m-r-xs"></i> Новая категория</a>
      </div>
    </div>
  </div>
  <!-- /column -->
  <!-- column -->
  <div class="col w-lg lter b-r">
    <div class="vbox">
      <div class="wrapper-xs b-b">
        <div class="input-group m-b-xxs">
          <span class="input-group-addon input-sm no-border no-bg">
            <span class="text-md">Каналы продаж</span>
          </span>
        </div>
      </div>
      <div class="row-row">
        <div class="cell scrollable hover">
          <div class="cell-inner">
            <div class="m-t-n-xxs">
              <div class="list-group list-group-lg no-radius no-border no-bg m-b-none">
                <a ng-repeat="channel in channels | filter:{channel_category_id:filter} | filter:query | orderBy:'name'" class="list-group-item m-l" ng-class="{'select m-l-none': channel.selected }" ng-click="selectChannel(channel)">
                  <span class="block text-ellipsis m-l-n text-md" ng-class="{'m-l-none': channel.selected }">
                    {{ channel.name }}
                    <span ng-hide="channel.name">---</span>
                  </span>
                </a>
              </div>
            </div>
            <div class="text-center pos-abt w-full" style="top:50%;" ng-hide="(channels | filter:{channel_category_id:filter} | filter:query).length">Нет каналов</div>
          </div>
        </div>
      </div>
      <div class="wrapper b-t text-center">
        <a href class="btn btn-sm btn-primary btn-addon" ng-click="createChannel()"><i class="fa fa-plus fa-fw m-r-xs"></i> Новый Канал</a>
      </div>
    </div>
  </div>
  <!-- /column -->

  <!-- column -->
  <div class="col bg-white-only">
    <!-- toaster directive -->
    <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    <!-- / toaster directive -->
    <!-- modal -->
    <script type="text/ng-template" id="ModalContent.html">
      <div ng-include="'../templates/modal-confirmation.html'"></div>
    </script>
    <!-- /modal -->
    <div class="vbox">
      <div class="bg-light lter b-b wrapper-md hidden-print level3">
        <div class="btn-toolbar">
          <a href class="btn btn-sm btn-primary pull-right" ng-click="saveChannel(channel.id)" ng-class="{'disabled' : editableChannel.$pristine}">Сохранить<span class="hidden-xs" ng-hide="channel.id === ''"> изменения</span></a>
          <a href class="btn btn-sm btn-danger pull-right" ng-hide="channel.id === ''" ng-click="deleteChannel(channel)"><i class="fa fa-trash-o"></i></a>
          <a href class="btn btn-sm btn-danger pull-right" ng-show="channel.id === ''" ng-click="cancelChannel()"><i class="fa fa-trash-o"></i></a>
          <h1 class="m-n font-thin h3">{{ channel.name ? channel.name : '---' }}</h1>
        </div>
      </div>
      <div class="row-row">
        <div class="cell">
          <div class="cell-inner">
            <div class="wrapper-md">
              <div class="row">
                <div class="col-md-6">
                  <form name="editableChannel">
                    <dl class="dl-horizontal editable-input">
                      <dt>Категория:</dt>
                      <dd>
                        <select ui-module="select2" ui-select2 ng-model="channel.channel_category_id" class="form-control editable">
                          <option value=" ">Без категории</option>
                          <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
                        </select>
                      </dd>
                      <dt>Название:</dt>
                      <dd><edit-in-place value="channel.name" placeholder="Название"></edit-in-place></dd>
                      <dt>Заметки:</dt>
                      <dd><edit-in-place value="channel.notes" data-text-area=""></edit-in-place></dd>
                    </dl>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /column -->
</div>
<!-- /hbox layout -->