<div>
  <div class="bg-light lter b-b wrapper-md hidden-print">
    <!-- toaster directive -->
    <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    <!-- / toaster directive -->
    <!-- modal -->
    <script type="text/ng-template" id="ModalContent.html">
      <div ng-include="'../templates/modal-confirmation.html'"></div>
    </script>
    <!-- /modal -->
    <div class="btn-toolbar">
      <a href class="btn btn-sm btn-primary pull-right" ng-click="saveContract($state.params.id)" ng-class="{'disabled' : editableContract.$pristine}">Сохранить<span class="hidden-xs" ng-hide="$state.params.id === 'new'"> изменения</span></a>
      <a href class="btn btn-sm btn-danger pull-right" ng-hide="$state.params.id == 'new'" ng-click="deleteContract()"><i class="fa fa-trash-o"></i></a>
      <h1 class="m-n font-thin h3">
        <a ng-click="$state.go('^')" class="pull-left m-r-md m-t-xxs"><i class="fa fa-chevron-left"></i></a>
        {{ contract.name ? contract.name : 'Новый контракт' }}
      </h1>

    </div>
  </div>
  <div class="wrapper-md">
    <div class="row">
      <div class="col-md-4">
        <form name="editableContract">
          <dl class="dl-horizontal editable-input">
              <dt>Название:</dt>
              <dd><edit-in-place value="contract.name"></edit-in-place></dd>
              <dt>Клиент:</dt>
              <dd>
                <select ui-module="select2" ui-select2 ng-model="contract.client_id" class="form-control editable">
                  <option value=""></option>
                  <option ng-repeat="client in clients" value="{{client.id}}">{{client.name}}</option>
                </select>
              </dd>
          </dl>
        </form>
        <!-- / details -->

      </div>
      <div class="col-md-8">
        Сделки и история
      </div>
    </div>
  </div>
</div>
