<div class="hbox hbox-auto-xs hbox-auto-sm fade-in-right" ui-view>
  <div class="col">
    <div class="bg-light lter b-b wrapper-md hidden-print">
      <a ui-sref="app.directory.insurance_types.details({ id: 'new' })" class="btn m-b-xs btn-sm btn-primary btn-addon pull-right"><i class="fa fa-plus"></i>добавить <span class="hidden-xs">вид</span></a>
      <h1 class="m-n font-thin h3 text-black">Виды страхования</h1>
    </div>
    <div class="clearfix wrapper">
      <div class="panel panel-default">
        <div class="table-responsive">
          <table class="table table-striped b-t b-light">
            <thead>
              <tr>
                <th>Название</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="type in insurance_types">
                <td><a ui-sref="app.directory.insurance_types.details({ id: {{type.id}} })">{{ type.name }}</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <footer class="panel-footer">
          <div class="row">
            <div class="col-sm-6 hidden-xs">
              <small class="text-muted inline m-t-sm m-b-sm">Показано 10 из 50 записей</small>
            </div>
            <div class="col-sm-6 text-right text-center-xs">
              <ul class="pagination pagination-sm m-t-none m-b-none">
                <li><a href><i class="fa fa-chevron-left"></i></a></li>
                <li><a href>1</a></li>
                <li><a href>2</a></li>
                <li><a href>3</a></li>
                <li><a href>4</a></li>
                <li><a href>5</a></li>
                <li><a href><i class="fa fa-chevron-right"></i></a></li>
              </ul>
            </div>
          </div>
        </footer>
      </div>

    </div>

  </div>
</div>