<h4>{{ question.title }}</h4>
<hr/>
<div class="row">
  <div class="col-md-1 col-sm-2">
    <div class="well well-sm">
      - 0 +
    </div>
  </div>
  <div class="col-md-11 col-xs-10">
    <div class="question-body">
      {{ question.body }}
    </div>
  </div>
</div>

<div class="row top-padding">
  <div class="col-md-12">
    <div class="well well-sm">
      <small><span class="badge">{{ question.views }}</span> <i class="fa fa-eye"></i></small>
      <small class="pull-right">{{ question.created_at_from_now }} від {{ question.user.name }}</small>
    </div>
  </div>
</div>

<div class="row answer-row" ng-repeat="answer in question.answers">
  <div class="col-md-8 col-md-offset-2">
    <blockquote>
      {{ answer.body }}
      <small>Oleg</small>
    </blockquote>
  </div>
</div>

<div class="row top-padding answer-form-row">
  <div class="col-md-12">
    <form class="form-horizontal" ng-submit="addAnswer(credentials)">
      <input ng-model="credentials.authenticity_token" name="authenticity_token" type="hidden">
      <fieldset>
        <div class="form-group">
          <label for="body" class="col-md-2 control-label" id="body-label">Детально</label>
          <div class="col-md-8">
            <textarea ng-model="credentials.body" ng-change="checkCurrentUser()" class="form-control" rows="4" id="body"></textarea>
            <span class="help-block"></span>
          </div>
          <div class="col-md-2">

          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <button type="submit" class="btn btn-primary">Відправити</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>