/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

#banner {
    margin-top: 0;
}
.top-padding {
    padding-top: 10px;
}
h1 .btn-default:hover {
    background-color: #df691a;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 10.5px;
}
a.title {
    color: #EBEBEB;
}
.details {
    font-size: 75%;
}
.question-body {
    font-size: 13px;
}
.navbar > .container .navbar-brand {
  background-color: #2b3e50;
  background-image: image-url("stack_logo_header.png");
  background-size: 40px 40px;
  background-repeat: no-repeat;
  width: 40px;
  margin-left: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.navbar > .container .navbar-brand:hover, .navbar > .container .navbar-brand.index-page {
  background-image: image-url("stack_logo_big.png");
  background-size: 152px 40px;
  width: 152px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.navbar-form {
  padding-left: 0;
}